$primary: #ff5700;
$primary_light: #ff5700cf;
$backDrop: #00000047;
$white: #fff;
$navTextColor: #212121e6;
$titleColor: #000000c9;
$danger: #ff0000e0;
$darkLight: #ff57001f;

$googleBlue: rgb(66, 133, 244);

$success: #006500;
