// Banner Start =================================>>>>>

.banner .item img {
  width: 100%;
}

// Banner End =================================>>>>>

// Category Start =================================>>>>>

.category .card {
  padding: 0 10px;
}

// Category End =================================>>>>>

// arrival Start =================================>>>>>

.arrival .card {
  padding: 0 10px;
}

// arrival End =================================>>>>>

// trending Start =================================>>>>>

.trending .card {
  padding: 0 10px;
}

// trending End =================================>>>>>

// allProducts Start =================================>>>>>

.allProducts .card {
  padding: 0 10px;
  margin-bottom: 20px;
  width: 25%;
}

.allProducts .loadmore{
  margin-top: 20px;
}
// allProducts End =================================>>>>>
